#btnEncrypt {
    background-color: rgb(19, 35, 78);
    border-color: rgb(16, 24, 44);
    color: white;
}

#btnDecrypt {
    background-color: lightgrey;
    border-color: rgb(16, 24, 44);
}

.btns {
    border: 1px;
    border-radius: 10px;
    width: wrap;
    height: auto;
}

#containers {
    height: 300px;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10rem;
    display: flex;
}

#container-left {}

#container-right {
    display: center;
    shadow: 2px grey;
}

#container-right-box {
    margin: 2rem;
    justify-content: center;
}